@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

.mainContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    margin:0;
    padding:0;
}

p {
    margin: 0;
    padding: 0;
}

.sideBar {
    grid-column: 1;
    gap:3rem;
}


.mainContent {
    background-color: #161B22;
    grid-column: 2;
    display: flex;
    
}




.sideBar {
    background: #010409;
    width: 12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color:white;
    
}

.brandHeader {
    display: flex;
    justify-content: center; 
    margin-top:.5rem;
    gap: 0.5rem; 
    width: 100%;
}

.brandHeader img{
 width: 2rem;
 height: 2rem;   
}

.brandHeader h1{
margin:0;
padding:0;
  font-weight: bold;
  letter-spacing: -2px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size:1.5rem;
  opacity: .8;
}


.options {
    display: flex;
    flex-direction: column;
    height: 100%;

    width: 100%;
    align-items: center;
    gap:1rem;

}

.optionRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 80%;

    border: transparent;
    background-color: transparent;
align-items: center;
    cursor: pointer;
    transition: all 0.25s ease;
    padding: 1rem;
    border-radius: .5rem;
    color:white;
    opacity: 1;

}

.optionRow:hover{
    background-color: #616468;

}
.optionIcon,
.optionText {
    opacity: .8;
}

.optionIcon {
    width: 1.2rem;
    height: auto;

}

.optionText {
    font-size: .8rem;
}

.accountContainer {
    width: 100%;
    border-top:1px solid rgb(0, 0, 0, 0.1);
    padding-top:1rem;
    position: relative;
}

.accountArrowIcons{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-size: .9rem;
}

.accountRow {
    display: flex;
    flex-direction: row;
    gap:1rem;
    width: 95%;
    justify-content: space-between;
    margin-left:.3rem;
}


.accountName {
    font-weight: bold;
    font-size: .9rem;
}


.accountEmail {
    font-size: .7rem;
    opacity: .8;
}


.accountSettings {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  gap:.5rem;
  margin-bottom: 1rem;
}

.accountSettings.show {
  max-height: 20rem; 
  opacity: 1;
}


.snippetMenu{

background-color: #0D1117;
    min-width: 13rem;
    max-width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border:1px solid rgb(255, 255, 255,.1);
    gap:1rem;

}


.snippetMenuTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}


.snippetControls {
    display: flex;
    flex-direction: row;
    gap:.5rem;

}


.snippetAction {
    cursor: pointer;
}

.snippetFiles {
   gap:.5rem;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;

    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}


.snippetFiles {
  overflow-y: scroll;

  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.snippetFiles::-webkit-scrollbar {
  display: none;
}


.fileItem, .folderItem {
display: flex;
flex-direction:  row;
gap:.5rem;
max-width:100%;


cursor: pointer;
transition: all 0.25s ease;
margin:.0 .5rem 0 .5rem;
border-radius: .2rem;
padding: .2rem;
}

.fileItem:hover, .folderItem:hover{
background-color: rgba(196, 206, 216, 0.2);
}

.folderIcon {
  color: #D4A017;
}

.fileIcon {
    color: #95beff;
}

.folderName, .fileName {
    font-size:.9rem;
    opacity: .9;
}


.toggleFolder {
    border-radius: .2rem;
    font-size:1.1rem;
    opacity: .5;

    margin-left:auto;
}



.searchContainer {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.search,
.addFile,
.filter {
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
    border-radius: .5rem;
    background-color: rgb(13, 17, 23, .5);
    gap: .2rem;
    padding: .5rem 0 .5rem 0;
    box-sizing: border-box;
}

.addFile,
.search,
.filter,
.filterFieldWrapper {
    width: 100%;
}

.filterFieldWrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.searchIcon,
.searchFilter {
    height: auto;
    flex-shrink: 0;
}

.searchFilter {
    padding-right: .5rem;
    cursor: pointer;
}

.filter {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.filter.show {
    display: flex;
}

.filter p {
    opacity: .6;
    font-size: .7rem;
}

.filterContainer {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    max-width: 10rem;
    gap: .5rem;
    padding-bottom: .5rem;
    scrollbar-width: thin;
    scrollbar-color: #555 #111;
}

.filterContainer::-webkit-scrollbar, .fileContent::-webkit-scrollbar{
    height: 8px;
}

.filterContainer::-webkit-scrollbar-track, .fileContent:-webkit-scrollbar-track  {
    background: #111;
}

.filterContainer::-webkit-scrollbar-thumb, .fileContent::-webkit-scrollbar-thumb  {
    background: #555;
    border-radius: 8px;
}

.filterContainer::-webkit-scrollbar-thumb:hover, .fileContent:-webkit-scrollbar-thumb:hover {
    background: #777;
}

.filterType {
    display: flex;
    gap: .2rem;
}

.filterType button {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, .2);
    color: white;
    padding: .5rem;
    border-radius: .2rem;
    cursor: pointer;
    transition: all .25s ease;
}

.filterType button:hover {
    background-color: #616468;
}

.filterType.selected button {
    border: 1px solid rgb(105, 105, 223, .5);
}

.tag p {
    font-size: .8rem;
    opacity: 1;
}

.tag {
    display: flex;
    align-items: center;
    padding: .2rem;
    gap: .2rem;
    border-radius: .2rem;
    border: 1px solid rgb(255, 255, 255, .3);
    flex-shrink: 0;
}

.removeTag {
    cursor: pointer;
    width: .8rem;
}

.searchField,
.addFileField,
.filterField,
.addTagField {
    opacity: .5;
    background-color: transparent;
    border: transparent;
    color: white;
    padding-left: .5rem;

    width: 100%;
    min-width: 0;

    text-align: start;
    box-sizing: border-box;
}

.searchField:focus,
.addFileField:focus,
.filterField:focus,
.addTagField:focus {
    border: transparent;
    background-color: transparent;
    outline: none;
    opacity: 1;
}



.searchField::placeholder,
.addFileField::placeholder,
.filterField::placeholder,
.addTagField::placeholder {
    color: white;
}

.addBtn, .addTag, .finalizeAddingTag {
    cursor: pointer;
    transition: all 0.25s ease;
    border-radius: .2rem;
    margin-right: .5rem;
    flex-shrink: 0;
}

.addBtn:hover, .addTag:hover, .finalizeAddingTag:hover {
    background-color: #616468;
}

.fileContents {
    width: 100%;
    height: 100%;
    display: flex;
}

.defaultMenu {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 1rem;
}

.defaultMenu p,
.defaultMenu h1 {
    margin: 0;
    padding: 0;
}

.defaultMenu p {
    opacity: .7;
}

.newFile a,
.newFolder a {
    margin: 0;
    padding: 0;
}

.newFile,
.newFolder {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    color: rgb(125, 125, 241);
    cursor: pointer;
}


.fileBody {
    display: flex;
    color:white;
    flex-direction: column;
       width: 100%;

}

.fileInfo {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fileInfo h1 {
    margin-left:2rem;
}

.tagsWrapper {
    margin-top:.5rem;
}

.tagsWrapper h4{
    font-size: .9rem;
    margin: 0;
    padding: 0;
}

.tagsAction {
    display: flex;
    flex-direction: row;
    gap:.5rem;
    align-items: center;
}

.addTag{
    cursor: pointer;
}


.tags {
    display: flex;
    gap:.5rem;
    flex-wrap: wrap;
    width: 6rem;
    margin-top:.5rem;
}
.tags p{
    font-size:.8rem;
    opacity: .8;
    border:1px solid #F69D39;
    padding:.3rem;
    border-radius: .3rem;
}


.addTagFieldWrapper{
    display: flex;
    flex-direction: row;
}


.tagsActionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;
}

.addTagField{
    padding:0;
}


.fileContent {
    margin-left:2rem;


    max-height: 75vh;

    overflow-y:scroll;
    min-height: 0;
 
}