.mainContainer {

  width: 100%;


  display: grid;
  grid-template-rows: auto .5fr 1fr .5fr;
  background-image: 
  repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 4.5rem
  ),
  url("data:image/svg+xml;utf8,...");

  gap:3rem;

}



.topRow {

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
    margin-top: 1rem;

}

.brand {

  display: flex;
  justify-content: center;
  align-items: center;
  gap:.5rem;
  margin-left:1rem;
}

.brandLogo {
  width: 3rem;

}

.brandTitle{
    font-weight: bold;
  letter-spacing: -2px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin:0;
  padding:0;
}

.navBar{
  display: flex;
  gap:2rem;
  margin-left: 5rem;
  
}

.navBar a{
  position: relative;
  cursor: pointer;
  font-size: .9rem;
  opacity: .6;
  text-decoration: none;
  color:inherit;
}

.navBar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;

    width: 100%;
    height: 2px;
    background-color: black;

    opacity: 0;
    transform: scaleX(0);
    transition: all 0.25s ease;
}

.navBar a:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

.authRow{
  gap:1rem;
  display: flex;
  margin-left:auto;
  margin-right:2rem;
  
}
.signupBtn, .loginBtn {
  border: none;
  color:white;
  padding:1rem 2rem;
  font-weight: bold;
  border-radius: .3rem;
  cursor: pointer;
    transition: 0.2s all ease;
}

.signupBtn{

    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.loginBtn {
  background-color:#44444E;
}

.signupBtn:hover{
   background: linear-gradient(90deg, #4b6cb7 0%, #182848 00%);
}


.loginBtn:hover{
   background-color:#84848b;

}



/* hero section*/

.heroSection{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
  text-align: center;
}
.heroText{

  font-family: 'Inter', sans-serif;
  font-size:3rem;

}

.miniDesc{
  font-size:.9rem;
  opacity: .8;
}

.heroSectionBtn{
  border: none;
  color:white;
  background-color: #462C7D;
  margin-top:1rem;
  cursor: pointer;
  padding:1rem 2.5rem;
  border-radius: .5rem;
  transition: all 0.2s ease;
}


.heroSectionBtn:hover{
  background-color: #564972;
}


.problemSolution{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.problem{

  padding:2rem;
  background-color: white;
 
  border:1px solid rgb(255, 0, 0, 0.5);
  border-radius: .5rem;


}


.features{
  display: flex;
  flex-direction: column;

align-items: center;
gap:2rem;

}

.featuresText, .faqsText{
  font-size:3rem;
   font-family: "Archivo Black", sans-serif;
  font-weight: 800;
  font-style: normal;
}




.feature{
  background-color: #E8F9FF;
  padding:2rem;
  border-radius: .5rem;
  width: 100%;
  transition: 0.2s ease all;


}

.feature:hover{
  transform: scale(1.01);
}

.feature p {
  opacity: .9;
}


.featureIcon{
  width: 3rem;
}

.topRowFeatures, .bottomRowFeatures{
  display: flex;
  flex-direction: row;
  gap:2rem;
  max-width: 60%;
 
}


.faqs{
  margin-top:5rem;
display: flex;
align-items: center;
flex-direction: column;
gap:1rem;

  

}


.question{


  cursor: pointer;

  font-size:.8rem;
  opacity: .9;
  border-bottom:1px solid rgb(0, 0, 0, 0.5);
  text-align: start;

 

}

.question h2 {
  display: flex;
  gap:2rem;
}


.answer {
  display: none;
}

.answer.show{
  display: block;


}


.faqWrapper{
  border-radius: .5rem;
  padding:2rem 4rem;
  gap:.3rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0, 0.1);
 background-color: white;

}

.footerContainer {
    min-height: 18vh;
    background-color: #0f0f14;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footerContainer a {
    text-decoration: none;
    color: white;
}


.arrowDown,
.arrowUp {
    margin-left: auto;
    min-width: 2rem;

}


@media (max-width: 1024px) {
  



}



@media (max-width: 768px) {

  .topRowFeatures, .bottomRowFeatures {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .topRow{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;

    gap:2rem;

  }

 
  .authRow,.navBar, .brand{
    margin:0;
  }

 
  
}


@media (max-width: 480px) {

  
}