
.fileExplorer{

background-color: #0D1117;
    min-width: 13rem;
    max-width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border:1px solid rgb(255, 255, 255,.1);
    gap:1rem;
    height:100vh;
  



}


.fileExplorerTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
 
}


.snippetControls {
    display: flex;
    flex-direction: row;
    gap:.5rem;


}


.snippetAction {
    cursor: pointer;
}

.snippetFiles {
   gap:.5rem;

    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    flex:1;
   min-height:0;
   overflow-y:auto;
}


.snippetFiles {
  overflow-y: scroll;

  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.snippetFiles::-webkit-scrollbar {
  display: none;
}


.fileItem, .folderItem {
display: flex;
flex-direction: column;
margin:.0 .5rem 0 .5rem;
border-radius: .2rem;
padding: .2rem;
width:auto;
}

.folderHeader, .fileHeader {
cursor: pointer;
transition: all 0.25s ease;

border-radius: .2rem;
padding: .2rem;  
}



.folderItem {
    flex-direction: column;
    display: flex;
    gap:.5rem;


}


.folderHeader, .fileHeader {
    display: flex;
    flex-direction: row;
    gap:.5rem;
}


.folderFiles {
    display: none;
}

.folderFiles.show {
    display: block;
}



.selected {
       box-shadow: 0 0 2.5px rgba(100,150,255,.7);
}

.folderHeader:hover, .fileHeader:hover{
background-color: rgba(196, 206, 216, 0.2);
}

.folderIcon {
  color: #D4A017;
}

.fileIcon {
    color: #95beff;
}

.folderName, .fileName {
    font-size:.9rem;
    opacity: .9;
}


.toggleFolder {
    border-radius: .2rem;
    font-size:1.1rem;
    opacity: .5;

    margin-left:auto;
}



.searchContainer {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.search,
.addFile,
.filter {
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
    border-radius: .5rem;
    background-color: rgb(13, 17, 23, .5);
    gap: .2rem;
    padding: .5rem 0 .5rem 0;
    box-sizing: border-box;
}

.addFile,
.search,
.filter,
.filterFieldWrapper {
    width: 100%;
}

.filterFieldWrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.searchIcon,
.searchFilter {
    height: auto;
    flex-shrink: 0;
}

.searchFilter {
    padding-right: .5rem;
    cursor: pointer;
}

.filter {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.filter.show {
    display: flex;
}

.filter p {
    opacity: .6;
    font-size: .7rem;
}

.filterContainer {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    max-width: 10rem;
    gap: .5rem;
    padding-bottom: .5rem;
    scrollbar-width: thin;
    scrollbar-color: #555 #111;
}

.filterContainer::-webkit-scrollbar, .fileContent::-webkit-scrollbar{
    height: 8px;
}

.filterContainer::-webkit-scrollbar-track, .fileContent:-webkit-scrollbar-track  {
    background: #111;
}

.filterContainer::-webkit-scrollbar-thumb, .fileContent::-webkit-scrollbar-thumb  {
    background: #555;
    border-radius: 8px;
}

.filterContainer::-webkit-scrollbar-thumb:hover, .fileContent:-webkit-scrollbar-thumb:hover {
    background: #777;
}

.filterType {
    display: flex;
    gap: .2rem;
}

.filterType button {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, .2);
    color: white;
    padding: .5rem;
    border-radius: .2rem;
    cursor: pointer;
    transition: all .25s ease;
}

.filterType button:hover {
    background-color: #616468;
}

.filterType.selected button {
    border: 1px solid rgb(105, 105, 223, .5);
}

.tag p {
    font-size: .8rem;
    opacity: 1;
}

.tag {
    display: flex;
    align-items: center;
    padding: .2rem;
    gap: .2rem;
    border-radius: .2rem;
    border: 1px solid rgb(255, 255, 255, .3);
    flex-shrink: 0;
}

.removeTag {
    cursor: pointer;
    width: .8rem;
}

.searchField,
.addFileField,
.filterField,
.addTagField {
    opacity: .5;
    background-color: transparent;
    border: transparent;
    color: white;
    padding-left: .5rem;

    width: 100%;
    min-width: 0;

    text-align: start;
    box-sizing: border-box;
}

.searchField:focus,
.addFileField:focus,
.filterField:focus,
.addTagField:focus {
    border: transparent;
    background-color: transparent;
    outline: none;
    opacity: 1;
}



.searchField::placeholder,
.addFileField::placeholder,
.filterField::placeholder,
.addTagField::placeholder {
    color: white;
}

.addBtn, .addTag, .finalizeAddingTag {
    cursor: pointer;
    transition: all 0.25s ease;
    border-radius: .2rem;
    margin-right: .5rem;
    flex-shrink: 0;
}

.addBtn:hover, .addTag:hover, .finalizeAddingTag:hover {
    background-color: #616468;
}