.verifyContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

.verifyWrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:2rem;
border-radius: .5rem;
gap:2.5rem;
}
.verifyWrapper p {
    opacity: .8;
    margin: 0;
}

.verifyWrapper a {
font-size: .9rem;
color:purple;
cursor: pointer;
opacity: .8;
}

.verifyIcon {
    width: 5rem;
}